<div>
<h1>Scuttlebutt</h1>
<h2>p2p social network</h2>
<h2>secure gossip platform</h2>
</div>


<div>
<button>Get Started</button>
</div>
<img src="hermiepatchbay.svg" alt="hermie!"> 
<img src="hermiepatchwork.svg" alt="double hermie!!">
